/* Navigation specific animations */

@import "app/components/navigation/animations/animations.scss"; 

/*initial animation*/
.animate-view.animate-init.ng-enter {
	@include animate-scaleUpCenter;
}

.animate-view.animate-init.ng-leave {
	@include animate-moveToRight;
}


/*default forward*/
.animate-view.animate-forward.ng-enter {
	@include animate-moveFromLeft;
}

.animate-view.animate-forward.ng-leave {
	@include animate-scaleDownCenter;
}

/*default backward*/
.animate-view.animate-backward.ng-enter {
	@include animate-moveFromRight;
}

.animate-view.animate-backward.ng-leave {
	@include animate-scaleDownCenter;
}

/* page specific */
.animate-view.animate-home.ng-enter {
	@include animate-scaleUp
}
.animate-view.animate-home.ng-leave {
	@include animate-scaleDownCenter;
}

