<div id="authentication" class="commons">
	<h1>Authentication service</h1>
	<p>Covers all important workflows for authentication token evaluation, an access control for routes, and objects via user roles and accesslevels.</p>
	<p>Following requests are provided:</p>
	<br/>
	<ul id="user-tabs" class="nav nav-tabs nav-justified" role="tablist">
		<li ui-sref-active-eq="active">
			<a id="isAuthorized-tab" role="tab"  ui-sref="app.commons.authentication.isAuthorized">IsAuthorized</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="login-tab" role="tab"  ui-sref="app.commons.authentication.login">Login</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="logout-tab" role="tab"  ui-sref="app.commons.authentication.logout">Logout</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="refreshConnection-tab" role="tab"  ui-sref="app.commons.authentication.refreshConnection">RefreshConnection</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="getLastConnectTime-tab" role="tab"  ui-sref="app.commons.authentication.getLastConnectTime">GetLastConnectTime</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="getConnectionState-tab" role="tab"  ui-sref="app.commons.authentication.getConnectionState">GetConnectionState</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="getAuthenticationHeaders-tab" role="tab"  ui-sref="app.commons.authentication.getAuthenticationHeaders">GetAuthenticationHeaders</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="getCurrentUser-tab" role="tab"  ui-sref="app.commons.authentication.getCurrentUser">GetCurrentUser</a>
		</li>
	</ul>

	<div class="tabs-content">
		<ui-view name="isAuthorized" ng-show="app.$state.includes('app.commons.authentication.isAuthorized')"></ui-view>
		<ui-view name="login" ng-show="app.$state.includes('app.commons.authentication.login')"></ui-view>
		<ui-view name="logout" ng-show="app.$state.includes('app.commons.authentication.logout')"></ui-view>
		<ui-view name="refreshConnection" ng-show="app.$state.includes('app.commons.authentication.refreshConnection')"></ui-view>
		<ui-view name="getLastConnectTime" ng-show="app.$state.includes('app.commons.authentication.getLastConnectTime')"></ui-view>
		<ui-view name="getConnectionState" ng-show="app.$state.includes('app.commons.authentication.getConnectionState')"></ui-view>
		<ui-view name="getAuthenticationHeaders" ng-show="app.$state.includes('app.commons.authentication.getAuthenticationHeaders')"></ui-view>
		<ui-view name="getCurrentUser" ng-show="app.$state.includes('app.commons.authentication.getCurrentUser')"></ui-view>	
	</div>
	
</div>
