<h2>Retrieve request</h2>
<p>
Returns the details of currently logged in views.<br/>
object with session id, session name and a views object.<br/>
See <code>services/resources/views_resource.inc</code>
</p>
<hr/>
<accordion close-others="oneAtATime"> 
	<accordion-group heading="Retrieve Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}" ng-repeat="(key,request) in views.retrieveRequests">
		<ng-include src="'app/templates/request/request.html'"></ng-include> 
	</accordion-group> 
</accordion>

<form name="retrieveForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.view_name.$touched && retrieveForm.view_name.$invalid || retrieveForm.view_name.$invalid && retrieveForm.$submitted }" >
		<label for="retrieve__view_name">View Name</label>
		<input type="text" class="form-control" id="retrieve__view_name" name="view_name" placeholder="View Name" ng-model="views.retrieveData.view_name" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!retrieveForm.view_name.$touched && !retrieveForm.$submitted || retrieveForm.view_name.$valid" >Name of the view to loaded</p>
						
			<ng-messages class="error" ng-if="retrieveForm.view_name.$invalid && retrieveForm.view_name.$touched || retrieveForm.$submitted" for="retrieveForm.view_name.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.display_id.$touched && retrieveForm.display_id.$invalid || retrieveForm.display_id.$invalid && retrieveForm.$submitted }" >
		<label for="retrieve__display_id">Display Id</label>
		<input type="text" class="form-control" id="retrieve__display_id" name="display_id" placeholder="Display Id" ng-model="views.retrieveData.display_id" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!retrieveForm.display_id.$touched && !retrieveForm.$submitted || retrieveForm.display_id.$valid" >Display Id of the view to loaded. You can find this under Views Administration -> Advanced -> Other -> Machine Name: "display_id" </p>
						
			<ng-messages class="error" ng-if="retrieveForm.display_id.$invalid && retrieveForm.display_id.$touched || retrieveForm.$submitted" for="retrieveForm.display_id.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.args.$touched && retrieveForm.args.$invalid || retrieveForm.args.$invalid && retrieveForm.$submitted }" >
		<label for="retrieve__args">Args</label>
		<input type="text" class="form-control" id="retrieve__args" name="args" placeholder="Args" ng-model="views.retrieveData.args" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!retrieveForm.args.$touched && !retrieveForm.$submitted || retrieveForm.args.$valid" >Args to pass to view</p>
						
			<ng-messages class="error" ng-if="retrieveForm.args.$invalid && retrieveForm.args.$touched || retrieveForm.$submitted" for="retrieveForm.args.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.offset.$touched && retrieveForm.offset.$invalid || retrieveForm.offset.$invalid && retrieveForm.$submitted }" >
		<label for="retrieve__offset">Offset</label>
		<input type="number" class="form-control" id="retrieve__offset" name="offset" placeholder="Offset" ng-model="views.retrieveData.offset" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!retrieveForm.offset.$touched && !retrieveForm.$submitted || retrieveForm.offset.$valid" >Offset of the views records</p>
						
			<ng-messages class="error" ng-if="retrieveForm.offset.$invalid && retrieveForm.offset.$touched || retrieveForm.$submitted" for="retrieveForm.offset.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.limit.$touched && retrieveForm.limit.$invalid || retrieveForm.limit.$invalid && retrieveForm.$submitted }" >
		<label for="retrieve__limit">Limit</label>
		<input type="number" class="form-control" id="retrieve__limit" name="limit" placeholder="Limit" ng-model="views.retrieveData.limit" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!retrieveForm.limit.$touched && !retrieveForm.$submitted || retrieveForm.limit.$valid" >Limit of the views records</p>
						
			<ng-messages class="error" ng-if="retrieveForm.limit.$invalid && retrieveForm.limit.$touched || retrieveForm.$submitted" for="retrieveForm.limit.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	
	<div class="checkbox">
	  	<label>
		    <input type="checkbox" ng-model="views.retrieveData.format_output">
		    format_output
		</label>
		<div class="help-block">
			<p class="description">To format the output as html or not</p>
		</div>
	</div>
	
	
	<label  ng-click="views.exposed_sortsCollapsed = !views.exposed_sortsCollapsed">Exposed sorts <span class="caret" ng-class="{true:'down',false:'up'}[views.exposed_sortsCollapsed]"></span></label>
	<div class="help-block">
		<p>The sort criteria have to be set to exposed in the view</p>
	</div>
	
	<div class="well collapse" ng-class="!views.exposed_sortsCollapsed && 'in'">
	
		<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.exposed_sorts.sort_order.$touched && retrieveForm.exposed_sorts.sort_order.$invalid || retrieveForm.exposed_sorts.sort_order.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__exposed_sorts.sort_order">Sort Order:</label>
			<br/>
			
			<label class="radio-inline" ng-repeat="(sortName, value) in views.sorts">
			  <input type="radio" name="sort_order" id="retrieve__exposed_sorts_sort_order_{{sortName}}"  ng-model="views.retrieveData.exposed_sorts.sort_order" value="{{value}}"> {{value}}
			</label>
	
			<div class="help-block">
				<p class="description">The sort order</p>
			</div>
		</div>	
		
		<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.exposed_sorts.sort_by.$touched && retrieveForm.exposed_sorts.sort_by.$invalid || retrieveForm.exposed_sorts.sort_by.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__exposed_sorts.sort_by">Sort By</label>
			<input type="text" class="form-control" id="retrieve__exposed_sort_sort_by" name="Sort Order" placeholder="Sort By" ng-model="views.retrieveData.exposed_sorts.sort_by" >
			
			<div class="help-block">
				<p class="description" ng-if="!retrieveForm.exposed_sorts.sort_by.$touched && !retrieveForm.$submitted || retrieveForm.exposed_sorts.sort_by.$valid" >The field name to sort by</p>
			</div>
		</div>	
		
	</div>
	
	<label  ng-click="views.exposed_filtersCollapsed = !views.exposed_filtersCollapsed">Exposed filters <span class="caret" ng-class="{true:'down',false:'up'}[views.exposed_filtersCollapsed]"></span></label>
	<div class="help-block">
		<p>The filters criteria have to be set to exposed in the view</p>
	</div>
	
	<div class="well collapse" ng-class="!views.exposed_filtersCollapsed && 'in'">
	
		<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.nid.$touched && retrieveForm.nid.$invalid || retrieveForm.nid.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__nid">Nid</label>
			<input type="number" class="form-control" id="retrieve__nid" name="nid" placeholder="Nid" ng-model="views.retrieveData.exposed_filters.nid" >
			<form-control-feedback></form-control-feedback>
			<div class="help-block">
				<p class="description" ng-if="!retrieveForm.nid.$touched && !retrieveForm.$submitted || retrieveForm.nid.$valid" >Nid in views records (The field is set to exposed in the view)</p>
							
				<ng-messages class="error" ng-if="retrieveForm.nid.$invalid && retrieveForm.nid.$touched || retrieveForm.$submitted" for="retrieveForm.nid.$error">
					<ng-messages-include src="error-required"></ng-messages-include>
				</ng-messages>
			</div>
		</div>
	
		<div class="form-group" >
			<label for="retrieve__exposed_sorts.sort_order">Comment count operators (The field and operators are set to exposed in the view)</label>
			<br/>
			<div  class="radio" ng-repeat="(filterName, value)  in views.filters">
				<label> 
					<input type="radio" name="{{filterName}}" id="retrieve__exposed_filters__{{filterName}}" ng-model="views.retrieveData.exposed_filters.comment_count_op" value="{{value}}">
					{{filterName}}
				</label>
			</div>
			<div class="help-block">
				<p class="description">The comment count operators</p>
			</div>
		</div>	
		
		<div class="form-group" 
			ng-if="views.retrieveData.exposed_filters.comment_count_op !== 'between' && views.retrieveData.exposed_filters.comment_count_op !== 'not+between' && views.retrieveData.exposed_filters.comment_count_op !== 'regular_expression'" 
			ng-class="{ 'has-error has-feedback': retrieveForm.exposed_filters.comment_count.$touched && retrieveForm.exposed_filters.comment_count.$invalid || retrieveForm.exposed_filters.comment_count.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__exposed_filters.comment_count">Comment count value</label>
			<input type="number" class="form-control" id="retrieve__exposed_filters_comment_count_value" name="Comment count value" placeholder="Comment count value" ng-model="views.retrieveData.exposed_filters.comment_count.value" >
			
			<div class="help-block">
				<p class="description" >Comment count of node in views records</p>
			</div>
		</div>	
		
		<div class="form-group" ng-if="views.retrieveData.exposed_filters.comment_count_op === 'between' || views.retrieveData.exposed_filters.comment_count_op === 'not+between'" ng-class="{ 'has-error has-feedback': retrieveForm.exposed_filters.comment_count.min.$touched && retrieveForm.exposed_filters.comment_count.min.$invalid || retrieveForm.exposed_filters.comment_count.min.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__exposed_filters.comment_count_min">Comment count min</label>
			<input type="number" class="form-control" id="retrieve__exposed_filters_comment_count_min" name="Comment count min" placeholder="Comment count min" ng-model="views.retrieveData.exposed_filters.comment_count.min" >
			
			<div class="help-block">
				<p class="description" ng-if="!retrieveForm.exposed_filters.comment_count.min.$touched && !retrieveForm.$submitted || retrieveForm.exposed_filters.comment_count.min.$valid" >Comment count of node in views records</p>
							
				<ng-messages class="error" ng-if="retrieveForm.exposed_filters.comment_count.min.$invalid && retrieveForm.exposed_filters.comment_count.min.$touched || retrieveForm.$submitted" for="retrieveForm.exposed_filters.comment_count.min.$error">
					<ng-messages-include src="error-required"></ng-messages-include>
				</ng-messages>
			</div>
		</div>	
		
		<div class="form-group" ng-if="views.retrieveData.exposed_filters.comment_count_op === 'between' || views.retrieveData.exposed_filters.comment_count_op === 'not+between'" ng-class="{ 'has-error has-feedback': retrieveForm.exposed_filters.comment_count.max.$touched && retrieveForm.exposed_filters.comment_count.max.$invalid || retrieveForm.exposed_filters.comment_count.max.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__exposed_filters.comment_count_max">Comment count max</label>
			<input type="number" class="form-control" id="retrieve__exposed_filters_comment_count.max" name="Comment count max" placeholder="Comment count max" ng-model="views.retrieveData.exposed_filters.comment_count.max" >
			
			<div class="help-block">
				<p class="description" ng-if="!retrieveForm.exposed_filters.comment_count.max.$touched && !retrieveForm.$submitted || retrieveForm.exposed_filters.comment_count.max.$valid" >Comment count of node in views records</p>
							
				<ng-messages class="error" ng-if="retrieveForm.exposed_filters.comment_count.max.$invalid && retrieveForm.exposed_filters.comment_count.max.$touched || retrieveForm.$submitted" for="retrieveForm.exposed_filters.comment_count.max.$error">
					<ng-messages-include src="error-required"></ng-messages-include>
				</ng-messages>
			</div>
		</div>	
		
		<div class="form-group" ng-if="views.retrieveData.exposed_filters.comment_count_op === 'regular_expression'" ng-class="{ 'has-error has-feedback': retrieveForm.exposed_filters.comment_count.regular_expression.$touched && retrieveForm.exposed_filters.comment_count.regular_expression.$invalid || retrieveForm.exposed_filters.comment_count.regular_expression.$invalid && retrieveForm.$submitted }" >
			<label for="retrieve__exposed_filters.comment_count_regular_expression">Comment count regular_expression</label>
			<input type="text" class="form-control" id="retrieve__exposed_filters_comment_count.regular_expression" name="Comment count regular_expression" placeholder="Comment count regular_expression" ng-model="views.retrieveData.exposed_filters.comment_count.regular_expression" >
			
			<div class="help-block">
				<p class="description" ng-if="!retrieveForm.exposed_filters.comment_count.regular_expression.$touched && !retrieveForm.$submitted || retrieveForm.exposed_filters.comment_count.regular_expression.$valid" >Comment count of node in views records</p>
							
				<ng-messages class="error" ng-if="retrieveForm.exposed_filters.comment_count.regular_expression.$invalid && retrieveForm.exposed_filters.comment_count.regular_expression.$touched || retrieveForm.$submitted" for="retrieveForm.exposed_filters.comment_count.regular_expression.$error">
					<ng-messages-include src="error-required"></ng-messages-include>
				</ng-messages>
			</div>
		</div>	
		
		
		
	</div>
	
	<button class="btn btn-success" ng-click="views.doRetrieve(retrieveForm)">retrieve request</button>
</form>