<div id="Services-3x" class="resource">
	<h1 ng-click="services_3x.descriptionColapsed = !services_3x.descriptionColapsed">Services 3.x <span class="caret" ng-class="{true:'down',false:'up'}[services_3x.descriptionColapsed]"></span></h1>
	<div class="collapse" ng-class="!services_3x.descriptionColapsed && 'in'">
		<p>
			The <a href="https://www.drupal.org/project/services" target="_blank">services 3.x module</a> consists of following resources:
		</p>
		<ul>
			<li>Comments</li>
			<li>File</li>
			<li>Node</li>
			<li>System</li>
			<li>Taxonomy Term</li>
			<li>Taxonomy Vocabulary</li>
			<li>User</li>
		</ul>
	</div>
	<hr/>
	
	<ul id="services-3x-tabs" class="nav nav-tabs nav-justified">
		<li ui-sref-active="active"  class="disabled">
			<a>Comments</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="app.services_3x.file.retrieve">File</a>
		</li>
        <li ui-sref-active="active">
        	<a ui-sref="app.services_3x.node.retrieve">Node</a>
        </li>
        <li ui-sref-active="active">
        	<a ui-sref="app.services_3x.system.connect">System</a>
        </li>
        <li ui-sref-active="active" >
        	<a ui-sref="app.services_3x.taxonomy_terms.retrieve">Taxonomy Terms</a>
        </li>
        <li ui-sref-active="active">
        	<a ui-sref="app.services_3x.taxonomy_vocabulary.retrieve">Taxonomy Vocabulary</a>
        </li>
        <li ui-sref-active="active">
       	 	<a ui-sref="app.services_3x.user.retrieve" >User</a>
        </li>	
	</ul>
	
	<div class="tabs-content">
		<ui-view name="user"></ui-view>
		<ui-view name="node"></ui-view>
		<ui-view name="system" ></ui-view>
		<ui-view name="file" ></ui-view>
		<ui-view name="taxonomy_terms" ></ui-view>
		<ui-view name="taxonomy_vocabulary" ></ui-view>
	</div>
	
</div>
