//=Bootstrap start

//== Colors
$brand-white:         #fff !default; 
$brand-black:         #000 !default;

//== Buttons

//== Typography


$icon-font-path: "../fonts/bootstrap/" !default;

@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss"; 

// needed for buootatrap-ui =>https://angular-ui.github.io/bootstrap/#/getting_started
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// crets for all 4 sides
.caret.up {
	border-top: 0px;
	border-bottom: 4px dashed;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.caret.down {
	border-top: 4px dashed;
	border-bottom: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.caret.right {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
    border-left:  4px dashed;
    border-right: 0px;
}
.caret.left {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
    border-left:  0px;
    border-right: 4px dashed;
}

//for inline-checkboxes or radios with label
.control-label {
  display: block;
}


//=Bootstrap end

//=Fontawesome
$fa-font-path: "../fonts/fontawesome" !default;
@import "bower_components/fontawesome/scss/font-awesome.scss"; 