<div id="taxonomy_terms" class="resource">
	<h1>TaxonomyTerms resource</h1>
	<p>Link general taxonomy_terms functionalities to services module.<br/>
	See  <code>services/resources/taxonomy_terms_resource.inc</code></p>
	<br/>
	<ul id="taxonomy_terms-tabs" class="nav nav-tabs nav-justified" role="tablist">
		<li ui-sref-active-eq="active">
			<a id="retrieve-tab" role="tab" ui-sref="app.services_3x.taxonomy_terms.retrieve" >Retrieve</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="create-tab" role="tab"  ui-sref="app.services_3x.taxonomy_terms.create">Create</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="update-tab" role="tab"  ui-sref="app.services_3x.taxonomy_terms.update">Update</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="delete-tab" role="tab"  ui-sref="app.services_3x.taxonomy_terms.delete">Delete</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="index-tab" role="tab"  ui-sref="app.services_3x.taxonomy_terms.index">Index</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="selectNodes-tab" role="tab"  ui-sref="app.services_3x.taxonomy_terms.selectNodes">SelectNodes</a>
		</li>
	</ul>

	<div class="tabs-content">
		<ui-view name="retrieve" ng-show="app.$state.includes('app.services_3x.taxonomy_terms.retrieve')"></ui-view>
		<ui-view name="create" ng-show="app.$state.includes('app.services_3x.taxonomy_terms.create')"></ui-view>
		<ui-view name="update" ng-show="app.$state.includes('app.services_3x.taxonomy_terms.update')"></ui-view>
		<ui-view name="delete" ng-show="app.$state.includes('app.services_3x.taxonomy_terms.delete')"></ui-view>
		<ui-view name="index" ng-show="app.$state.includes('app.services_3x.taxonomy_terms.index')"></ui-view>
		<ui-view name="selectNodes" ng-show="app.$state.includes('app.services_3x.taxonomy_terms.selectNodes')"></ui-view>
	</div>
	
</div>