<div id="system" class="resource">
	<h1>System resource</h1>
	<p>Link general system functionalities to services module.<br/>
	See  <code>services/resources/system_resource.inc</code></p>
	<p>Following requests are provided:</p>
	<br/>
	<ul id="system-tabs" class="nav nav-tabs nav-justified" role="tablist">
		<li ui-sref-active-eq="active">
			<a id="connect-tab" role="tab" ui-sref="app.services_3x.system.connect" >Connect</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="get-variable-tab" role="tab"  ui-sref="app.services_3x.system.get_variable">getVariable</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="set-variable-tab" role="tab"  ui-sref="app.services_3x.system.set_variable">setVariable</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="del-variable-tab" role="tab"  ui-sref="app.services_3x.system.del_variable">delVariable</a>
		</li>
	</ul>
	
	<div class="tabs-content">
		<ui-view name="connect" ng-show="app.$state.includes('app.services_3x.system.connect')"></ui-view>
		<ui-view name="getVariable" ng-show="app.$state.includes('app.services_3x.system.get_variable')"></ui-view>
		<ui-view name="setVariable" ng-show="app.$state.includes('app.services_3x.system.set_variable')"></ui-view>
		<ui-view name="delVariable" ng-show="app.$state.includes('app.services_3x.system.del_variable')"></ui-view>
	</div>
	
</div>