<div id="system" class="resource">
	<h1>System resource</h1>
	<p>Link general system functionalities to services module.<br/>
	see  <code>services/resources/system_resource.inc</code></p>
	<tabset justified="true">
		<tab heading="Connect">
			<ng-include src="'app/components/system/templates/connect.html'"></ng-include>			
		</tab> 
		<tab heading="Get Variable">
			<ng-include src="'app/components/system/templates/getVariable.html'"></ng-include>			
		</tab> 
		<tab heading="Set Variable">
			<ng-include src="'app/components/system/templates/setVariable.html'"></ng-include>
		</tab> 
		<tab heading="Del Variable">
			<ng-include src="'app/components/system/templates/delVariable.html'"></ng-include>
		</tab>
	</tabset>
	
</div>