<h2>Update request</h2>
<accordion close-others="oneAtATime"> <accordion-group
	heading="Update Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
	ng-repeat="(key,request) in taxonomy_vocabulary.updateRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
	
<form name="updateForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.vid.$touched && updateForm.vid.$invalid || updateForm.vid.$invalid && updateForm.$submitted }" >
		<label for="retrieve__tid">Vid</label>
		<input type="number" class="form-control" id="retrieve__vid" name="vid" placeholder="Vid" ng-model="taxonomy_vocabulary.updateData.vid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.tid.$touched && !updateForm.$submitted || updateForm.tid.$valid" >VID of the taxonomy_vocabulary to be loaded</p>
						
			<ng-messages class="error" ng-if="updateForm.vid.$invalid && updateForm.vid.$touched || updateForm.$submitted" for="updateForm.vid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
		<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.name.$touched && updateForm.name.$invalid || updateForm.name.$invalid && updateForm.$submitted}">
		<label for="create__name">Name</label>
		<input type="text" class="form-control" name="name" id="create__name" placeholder="Name" ng-model="taxonomy_vocabulary.updateData.name" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.name.$touched && !updateForm.$submitted || updateForm.name.$valid" >The terms name</p>

			<ng-messages class="error" ng-if="updateForm.name.$invalid && updateForm.name.$touched || updateForm.$submitted" for="updateForm.name.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.machine_name.$touched && updateForm.machine_name.$invalid || updateForm.machine_name.$invalid && updateForm.$submitted}">
		<label for="create__machine_name">Machine Name</label>
		<input type="text" class="form-control" name="machine_name" id="create__machine_name" placeholder="Machine Name" ng-model="taxonomy_vocabulary.updateData.machine_name" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.machine_name.$touched && !updateForm.$submitted || updateForm.machine_name.$valid" >The terms machine_name</p>

			<ng-messages class="error" ng-if="updateForm.machine_name.$invalid && updateForm.machine_name.$touched || updateForm.$submitted" for="updateForm.machine_name.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>


	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.description.$touched && updateForm.description.$invalid || updateForm.description.$invalid && updateForm.$submitted}">
		<label for="create__description">Description</label>
		<input type="text" class="form-control" name="description" id="create__description" placeholder="Description" ng-model="taxonomy_vocabulary.updateData.description" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.description.$touched && !updateForm.$submitted || updateForm.description.$valid" >The description of the term</p>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.hierarchy.$touched && updateForm.hierarchy.$invalid || updateForm.hierarchy.$invalid && updateForm.$submitted}">
		<label for="create__hierarchy">Hierarchy</label>
		<input type="number" class="form-control" name="hierarchy" id="create__hierarchy" placeholder="Hierarchy" ng-model="taxonomy_vocabulary.updateData.hierarchy" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.hierarchy.$touched && !updateForm.$submitted || updateForm.hierarchy.$valid">The hierarchy of term</p>
			<ng-messages class="error" ng-if="updateForm.hierarchy.$invalid && updateForm.hierarchy.$touched || updateForm.$submitted" for="updateForm.hierarchy.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.weight.$touched && updateForm.weight.$invalid || updateForm.weight.$invalid && updateForm.$submitted}">
		<label for="create__weight">Weight</label>
		<input type="number" class="form-control" name="weight" id="create__weight" placeholder="Weight" ng-model="taxonomy_vocabulary.updateData.weight" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.weight.$touched && !updateForm.$submitted || updateForm.weight.$valid">The weight/order of term</p>
			<ng-messages class="error" ng-if="updateForm.weight.$invalid && updateForm.weight.$touched || updateForm.$submitted" for="updateForm.weight.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<button class="btn btn-success" ng-click="taxonomy_vocabulary.doUpdate(updateForm)">update request</button>
</form>