<h2>Update request</h2>
<accordion close-others="oneAtATime"> <accordion-group
	heading="Update Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
	ng-repeat="(key,request) in node.updateRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
	
<form name="updateForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.nid.$touched && updateForm.nid.$invalid || updateForm.nid.$invalid && updateForm.$submitted}" >
		<label for="update__nid">Nid</label>
		<input type="number" class="form-control" id="update__nid" name="nid" placeholder="Nid" ng-model="node.updateData.nid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.nid.$touched && !updateForm.$submitted || updateForm.nid.$valid" >NID of the node to be loaded</p>
			<ng-messages class="error" ng-if="updateForm.nid.$invalid && updateForm.nid.$touched || updateForm.$submitted" for="updateForm.nid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.title.$touched && updateForm.title.$invalid || updateForm.title.$invalid && updateForm.$submitted}">
		<label for="update__title">Title</label>
		<input type="text" class="form-control" name="title" id="update__title" placeholder="Title" ng-model="node.updateData.title" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.title.$touched && !updateForm.$submitted || updateForm.title.$valid" >The node title</p>

			<ng-messages class="error" ng-if="updateForm.title.$invalid && updateForm.title.$touched || updateForm.$submitted" for="updateForm.title.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.body_value.$touched && updateForm.body_value.$invalid || updateForm.body_value.$invalid && updateForm.$submitted}">
		<label for="update__body_value">Body Value</label>
		<textarea class="form-control" name="body_value" id="update__body_value" placeholder="Body Value" ng-model="node.updateData.body_value" required>
		</textarea>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.body_value.$touched && !updateForm.$submitted || updateForm.body_value.$valid" >The body value.</p>

			<ng-messages class="error" ng-if="updateForm.body_value.$invalid && updateForm.body_value.$touched || updateForm.$submitted" for="updateForm.body_value.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.body_summary.$touched && updateForm.body_summary.$invalid || updateForm.body_summary.$invalid && updateForm.$submitted}">
		<label for="update__body_summary">Body Summary</label>
		<textarea class="form-control" name="body_summary" id="update__body_summary" placeholder="Body Summary" ng-model="node.updateData.body_summary" required>
		</textarea>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.body_summary.$touched && !updateForm.$submitted || updateForm.body_summary.$valid" >The body summary</p>

			<ng-messages class="error" ng-if="updateForm.body_summary.$invalid && updateForm.body_summary.$touched || updateForm.$submitted" for="updateForm.body_summary.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': updateForm.field_custom_field.$touched && updateForm.field_custom_field.$invalid || updateForm.field_custom_field.$invalid && updateForm.$submitted}">
		<label for="update__field_custom_field">Custom Field</label>
		<input type="field_custom_field" class="form-control" name="field_custom_field" id="update__field_custom_field" placeholder="custom_field" ng-model="node.updateData.field_custom_field" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!updateForm.field_custom_field.$touched && !updateForm.$submitted || updateForm.field_custom_field.$valid" >The nodes custom_field. ( Custom field. Needs to be <a target="_blank" href="https://www.drupal.org/node/1354202" >formated properly</a>. )</p>

			<ng-messages class="error" ng-if="updateForm.field_custom_field.$invalid && updateForm.field_custom_field.$touched || updateForm.$submitted" for="updateForm.field_custom_field.$error">
			</ng-messages>
		</div>
	</div>

	<button class="btn btn-success" ng-click="node.doUpdate(updateForm)">update request</button>
</form>