<h2>CountNew request</h2>
<p>
Get comment countNew.<br/>
see <code>services/resources/comment_resource.inc => _comment_resource_countNew()</code>
</p>

<blockquote class="bg-warning">
	<h4>It's possible to get following error here if you require a term that not exist:</h4>
	<small>
	<b>Fatal error</b>:  __clone method called on non-object in <b>/paths/to/your/system/sites/all/modules/services/services.module</b> on line <b>1022</b><br />
	</small>
	<br/>
	@TODO find patch
</blockquote>



<accordion close-others="oneAtATime"> <accordion-group
	heading="countNew Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
	ng-repeat="(key,request) in comment.countNewRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>

<form name="countNewForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': countNewForm.tid.$touched && countNewForm.tid.$invalid || countNewForm.tid.$invalid && countNewForm.$submitted }" >
		<label for="retrieve__tid">Tid</label>
		<input type="number" class="form-control" id="retrieve__tid" name="tid" placeholder="Tid" ng-model="comment.countNewData.tid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!countNewForm.tid.$touched && !countNewForm.$submitted || countNewForm.tid.$valid" >The vocabulary ids to retrieve, separated by comma.</p>
						
			<ng-messages class="error" ng-if="countNewForm.tid.$invalid && countNewForm.tid.$touched || countNewForm.$submitted" for="countNewForm.tid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': countNewForm.pager.$touched && countNewForm.pager.$invalid || countNewForm.pager.$invalid && countNewForm.$submitted}" >
		<label for="index__pager">Page</label>
		<input type="number" class="form-control" id="index__pager" name="pager" placeholder="Pager" ng-model="comment.countNewData.pager" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p  class="description" ng-if="!countNewForm.pager.$touched && !countNewForm.$submitted || countNewForm.pager.$valid" >Whether the nodes are to be used with a pager (the case on most Drupal pagers) or not (in an XML feed, for example).</p>
			<ng-messages  class="error" ng-if="countNewForm.pager.$invalid && countNewForm.pager.$touched || countNewForm.$submitted" for="countNewForm.pager.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': countNewForm.limit.$touched && countNewForm.limit.$invalid || countNewForm.limit.$invalid && countNewForm.$submitted}" >
		<label for="index__limit">Limit</label>
		<input type="number" class="form-control" id="index__limit" name="limit" placeholder="Limit" ng-model="comment.countNewData.limit" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!countNewForm.limit.$touched && !countNewForm.$submitted || countNewForm.limit.$valid" >Maximum number of nodes to find.</p>
			<ng-messages class="error" ng-if="countNewForm.limit.$invalid && countNewForm.limit.$touched || countNewForm.$submitted" for="countNewForm.limit.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': countNewForm.order.$touched && countNewForm.order.$invalid || countNewForm.order.$invalid && countNewForm.$submitted}" >
		<label for="index__order">Limit</label>
		<input type="number" class="form-control" id="index__order" name="order" placeholder="Order" ng-model="comment.countNewData.order" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!countNewForm.order.$touched && !countNewForm.$submitted || countNewForm.order.$valid" >The order clause for the query that retrieve the nodes.</p>
			<ng-messages class="error" ng-if="countNewForm.order.$invalid && countNewForm.order.$touched || countNewForm.$submitted" for="countNewForm.order.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<button class="btn btn-success" ng-click="comment.docountNew(countNewForm)">countNew request</button>
</form>
