<h2>CountAll request</h2>
<p>
Get comment countAll.<br/>
see <code>services/resources/comment_resource.inc => _comment_resource_countAll()</code>
</p>

<blockquote class="bg-warning">
	<h4>It's possible to get following error here if you require a term that not exist:</h4>
	<small>
	<b>Fatal error</b>:  __clone method called on non-object in <b>/paths/to/your/system/sites/all/modules/services/services.module</b> on line <b>1022</b><br />
	</small>
	<br/>
	@TODO find patch
</blockquote>



<accordion close-others="oneAtATime"> <accordion-group
	heading="countAll Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
	ng-repeat="(key,request) in comment.countAllRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>

<form name="countAllForm" novalidate>

	
	<div class="form-group" ng-class="{ 'has-error has-feedback': countAllForm.nid.$touched && countAllForm.nid.$invalid || countAllForm.nid.$invalid && countAllForm.$submitted}" >
		<label for="countAll__nid">Nid</label>
		<input type="number" class="form-control" id="countAll__nid" name="nid" placeholder="Nid" ng-model="comment.countAllData.nid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!countAllForm.nid.$touched && !countAllForm.$submitted || countAllForm.nid.$valid" >The NID to count all comments.</p>
			<ng-messages class="error" ng-if="countAllForm.nid.$invalid && countAllForm.nid.$touched || countAllForm.$submitted" for="countAllForm.nid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	

	<button class="btn btn-success" ng-click="comment.doCountAll(countAllForm)">countAll request</button>
</form>
