<h2>Retrieve request</h2>
<p>
Get taxonomy_vocabulary details.<br/>
see <code>services/resources/taxonomy_vocabulary_resource.inc => _taxonomy_vocabulary_resource_retrieve()</code>
</p>

<blockquote class="bg-warning">
	<h4>It's possible to get following error here if you require a term that not exist:</h4>
	<small>
	<b>Fatal error</b>:  __clone method called on non-object in <b>/paths/to/your/system/sites/all/modules/services/services.module</b> on line <b>1022</b><br />
	</small>
	<br/>
	@TODO find patch
</blockquote>

<accordion close-others="oneAtATime">
	<accordion-group heading="Retrieve Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}" ng-repeat="(key,request) in taxonomy_vocabulary.retrieveRequests">
	   <ng-include src="'app/templates/request/request.html'"></ng-include>
	</accordion-group>
</accordion>
 	
<form name="retrieveForm" novalidate>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': retrieveForm.vid.$touched && retrieveForm.vid.$invalid || retrieveForm.vid.$invalid && retrieveForm.$submitted }" >
		<label for="retrieve__vid">Vid</label>
		<input type="number" class="form-control" id="retrieve__vid" name="vid" placeholder="Vid" ng-model="taxonomy_vocabulary.retrieveData.vid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!retrieveForm.vid.$touched && !retrieveForm.$submitted || retrieveForm.vid.$valid" >VID of the taxonomy vocabulary to be loaded</p>
						
			<ng-messages class="error" ng-if="retrieveForm.vid.$invalid && retrieveForm.vid.$touched || retrieveForm.$submitted" for="retrieveForm.vid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	<button class="btn btn-success" ng-click="taxonomy_vocabulary.doRetrieve(retrieveForm)">retrieve request</button>
</form>