<div id="user" class="resource">
	<h1>User resource</h1>
	<p></p>
	<hr/>
	<tabset justified="true">
		<tab heading="Retrieve">
			<h2>Retrieve request</h2>
			<p>
			Get user details.<br/>
			see <code>services/resources/user_resource.inc => _user_resource_retrieve()</code>
			</p>
			<accordion close-others="oneAtATime">
				<accordion-group heading="Retrieve Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.retrieveRequests">
				   <ng-include src="'app/templates/request/request.html'"></ng-include>
				</accordion-group>
			</accordion>
			
			<form name="retrieveForm">
				<div class="form-group">
					<label for="retrieve__uid">Uid</label>
					<input type="text" class="form-control" id="retrieve__uid" placeholder="Variable name" ng-model="user.retrieveData.uid">
					<div class="help-block">
						<div>UID of the user to be loaded</div>
					</div>
				</div>
			
				<button class="btn btn-success" ng-click="user.doRetrieve()">retrieve request</button>
			</form>
		</tab> 
		
		<tab heading="Create">
			<h2>Create request</h2>
			<p>
			Create a new user.<br/>
			This function uses drupal_form_submit() and as such expects all input to match the submitting form in question.</br>
			see <code>services/resources/user_resource.inc => _user_resource_create()</code>
			</p>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Create Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.createRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
			
			<p>@TODO implement validation of:<br/>
				https://api.drupal.org/api/drupal/modules!user!user.module/function/user_validate_name/7<br/>
				https://api.drupal.org/api/drupal/modules!user!user.module/function/user_validate_mail/7<br/>
			</p>
			
			<form name="createForm" novalidate>
			<pre>{{createForm.name | json}}</pre>
			
				<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.name.$touched && createForm.name.$invalid || createForm.name.$invalid && createForm.$submitted}">
					<label for="create__name">Name</label>
					<input type="text" class="form-control" name="name" id="create__name" placeholder="Name" ng-model="user.createData.name" ng-maxlength="60" required>
					<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					<div class="help-block">
						<p ng-if="!createForm.name.$touched && !createForm.$submitted || createForm.name.$valid" >The user name</p>
			
						<ng-messages ng-if="createForm.name.$invalid && createForm.name.$touched || createForm.$submitted" for="createForm.name.$error">
							<ng-messages-include src="error-required"></ng-messages-include>
							
							<div ng-message="maxlength">
								Your username must be less than 61 characters long
							</div>
							
							<!--
							@TODO implement validation
							<div ng-message="starts-with">
								The username cannot begin with a space
							</div> 
							
							<div ng-message="contains">
								The username cannot contain multiple spaces in a row
							</div>
							
							<div ng-message="ends-with">
								The username cannot end with a space
							</div>
							
							<div ng-message="drupal-illegal-char">
								The username contains an illegal character
							</div>
							-->
				
						</ng-messages>
					</div>
				</div>
			
			
			
				<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.email.$touched && createForm.email.$invalid || createForm.email.$invalid && createForm.$submitted}">
					<label for="create__email">Email</label> 
					<input type="email" class="form-control" name="email" id="create__email" placeholder="Email" ng-model="user.createData.mail" required>
					<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					<div class="help-block">
						<p ng-if="!createForm.email.$touched && !createForm.$submitted || createForm.email.$valid" >The email address</p>
			
						<ng-messages ng-if="createForm.email.$invalid && createForm.email.$touched || createForm.$submitted" for="createForm.email.$error">
							<ng-messages-include src="error-required"></ng-messages-include>
							<ng-messages-include src="error-email"></ng-messages-include>
						</ng-messages>
					</div>
				</div>
			
				<div class="form-group">
					<label for="create__password">Password</label>
					<input type="password" class="form-control" name="password" id="create__password" placeholder="Password" ng-model="user.createData.pass" required>
					<div class="help-block">
						<div>The plain text unencrypted password</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="create__status">Status</label>
					<label class="radio-inline">
						<input type="radio" name="create__status" id="blocked" ng-model="user.createData.status" value="0"> blocked
					</label>
					<label class="radio-inline">
						<input type="radio" name="create__status" id="active" ng-model="user.createData.status" value="1"> active
					</label>
					<div class="help-block">
						<div>Value 0 for blocked, otherwise will be active by default</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="create__notify">Notify</label>
					<label class="radio-inline">
						<input type="radio" name="create__notify" id="notification" ng-model="user.createData.notify" value="0"> no user notification
					</label>
					<label class="radio-inline">
						<input type="radio" name="create__notify" id="no_notification" ng-model="user.createData.notify" value="1"> user notification
					</label>
					<div class="help-block">
						<div>Value 1 to notify user of new account, will not notify by default</div>
					</div>
				</div>
				
				<div class="form-group">
					<label ng-click="user.createRolesColapsed = !user.createRolesColapsed">Roles (optional) <span class="caret" ng-class="{true:'down',false:'up'}[user.createRolesColapsed]"></span></label> 
				</div>
				<div class="well collapse" ng-class="!user.createRolesColapsed && 'in'"> 
					<div class="form-group">
			
						<div class="checkbox disabled">
							<label>
								<input type="checkbox" name="create__role__anonymous_user" disabled>
								anonymous user (not available)
							</label>
						</div>
			
						<div class="checkbox disabled">
							<label>
								<input type="checkbox" name="create__role__authenticated_user" disabled>
								authenticated user (not available)
							</label>
						</div>
			
						<div class="checkbox">
							<label>
								<input type="checkbox" name="create__role__administrator" ng-model="user.createData.roles.administrator">
								administrator
							</label>
						</div>
			
					</div>
			
				</div>
			
				<button class="btn btn-success" ng-click="user.doCreate(createForm)">create
					request</button>
			</form>

		</tab> 
		
		<tab heading="Update">
			<h2>Update request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Update Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.updateRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
				
			<form name="updateForm">
			
				<div class="form-group">
					<label for="update__username">Uid</label> <input type="text"
						class="form-control" id="update__uid" placeholder="Uid"
						ng-model="user.updateData.uid">
				</div>
			
				<div class="form-group">
					<label for="update__name">Parameter name</label> 
					<input type="text" class="form-control" id="update__name" placeholder="Username" ng-model="user.updateData.name">
				</div>
				
				<div class="form-group">
					<label for="update__name">Parameter mail</label> 
					<input type="text" class="form-control" id="update__mail" placeholder="EMail" ng-model="user.updateData.mail">
				</div>
					
				<button class="btn btn-success" ng-click="user.doUpdate()">update request</button>
			</form>

		</tab> 
		
		<tab heading="Delete">
			<h2>Delete request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Delete Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.deleteRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
				
			<form name="deleteForm">
				
				ser:{{user.deleteErrors.errors.server_errors}}<br/>
				form:{{user.deleteErrors.errors.form_errors}}
				<div class="form-errors">
					<div class="alert alert-danger fade in " ng-repeat="serverError in user.deleteErrors.errors.server_errors"> {{serverError}} </div>
				</div>
				
				<div class="form-group">
					<label for="delete__uid">Uid</label> <input type="number"
						class="form-control" id="delete__uid" placeholder="Uid" ng-model="user.deleteData.uid">
				</div>
			
				<button class="btn btn-success" ng-click="user.doDelete()">delete request</button>
			</form>

		</tab> 
		
		<tab heading="Index">
			<h2>Index request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Index Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.indexRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
			
			<form name="indexForm">
			
				<div class="form-group">
					<label for="index__page">Page</label> 
					<input type="text" class="form-control" id="index__page" placeholder="Page" ng-model="user.indexData.page">
				</div>
				
				<div class="form-group">
					<label for="index__pagesize">Pagesize</label> 
					<input type="text" class="form-control" id="index__pagesize" placeholder="Pagesize" ng-model="user.indexData.pagesize">
				</div>
				
				<div class="form-group">
					<label ng-click="user.indexFieldsColapsed = !user.indexFieldsColapsed">Fields <span class="caret" ng-class="{true:'down',false:'up'}[user.indexFieldsColapsed]"></span></label> 
					<div class="well collapse" ng-class="!user.indexFieldsColapsed && 'in'"> 
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.uid">
						    fields.uid
						  </label>
						</div>
						
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.name">
						    fields.name
						  </label>
						</div>
						
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.mail">
						    fields.mail
						  </label>
						</div>
								
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.theme">
						    fields.theme
						  </label>
						</div>
								
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.signature">
						    fields.signature
						  </label>
						</div>
								
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.signature_format">
						    fields.signature_format
						  </label>
						</div>
								
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.indexd">
						    fields.indexd
						  </label>
						</div>
								
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.access">
						    fields.access
						  </label>
						</div>
								
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.login">
						    fields.login
						  </label>
						</div>		
										
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.status">
						    fields.status
						  </label>
						</div>	
										
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.timezone">
						    fields.timezone
						  </label>
						</div>	
										
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.language">
						    fields.language
						  </label>
						</div>	
						
												
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.picture">
						    fields.picture
						  </label>
						</div>	
												
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.init">
						    fields.init
						  </label>
						</div>	
												
						<div class="checkbox">
					  		<label>
						    <input type="checkbox" ng-model="user.indexData.fields.data">
						    fields.data
						  </label>
						</div>	
					</div>
				</div>
				
				<div class="form-group">
					<label ng-click="user.indexParametersColapsed = !user.indexParametersColapsed">Parameters <span class="caret" ng-class="{true:'down',false:'up'}[user.indexParametersColapsed]"></span></label> 
				</div>
				<div class="well collapse" ng-class="!user.indexParametersColapsed && 'in'"> 
					<div class="form-group">
						<label for="index__parameters_uid">Parameter uid</label> 
						<input type="text" class="form-control" id="index__parameters_uid" placeholder="Uid" ng-model="user.indexData.parameters.uid">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_name">Parameter name</label> 
						<input type="text" class="form-control" id="index__parameters_name" placeholder="Username" ng-model="user.indexData.parameters.name">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_name">Parameter mail</label> 
						<input type="text" class="form-control" id="index__parameters_mail" placeholder="EMail" ng-model="user.indexData.parameters.mail">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_theme">Parameter theme</label> 
						<input type="text" class="form-control" id="index__parameters_theme" placeholder="Theme" ng-model="user.indexData.parameters.theme">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_signature">Parameter signature</label> 
						<input type="text" class="form-control" id="index__parameters_signature" placeholder="Signature" ng-model="user.indexData.parameters.signature">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_signature_format">Parameter signature_format</label> 
						<input type="text" class="form-control" id="index__parameters_signature_format" placeholder="Signature Format" ng-model="user.indexData.parameters.signature_format">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_created">Parameter created</label> 
						<input type="text" class="form-control" id="index__parameters_created" placeholder="Created" ng-model="user.indexData.parameters.created">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_access">Parameter access</label> 
						<input type="text" class="form-control" id="index__parameters_access" placeholder="Access" ng-model="user.indexData.parameters.access">
					</div>
					
					<div class="form-group">
						<label for="index__parameters_login">Parameter login</label> 
						<input type="text" class="form-control" id="index__parameters_login" placeholder="Login" ng-model="user.indexData.parameters.login">
					</div>
						
					<div class="form-group">
						<label for="index__parameters_status">Parameter status</label> 
						<input type="text" class="form-control" id="index__parameters_status" placeholder="Status" ng-model="user.indexData.parameters.status">
					</div>
						
					<div class="form-group">
						<label for="index__parameters_timezone">Parameter timezone</label> 
						<input type="text" class="form-control" id="index__parameters_timezone" placeholder="Timezone" ng-model="user.indexData.parameters.timezone">
					</div>
						
					<div class="form-group">
						<label for="index__parameters_language">Parameter language</label> 
						<input type="text" class="form-control" id="index__parameters_language" placeholder="Language" ng-model="user.indexData.parameters.language">
					</div>
						
					<div class="form-group">
						<label for="index__parameters_picture">Parameter picture</label> 
						<input type="text" class="form-control" id="index__parameters_picture" placeholder="Picture" ng-model="user.indexData.parameters.picture">
					</div>	
						
					<div class="form-group">
						<label for="index__parameters_init">Parameter init</label> 
						<input type="text" class="form-control" id="index__parameters_init" placeholder="Init" ng-model="user.indexData.parameters.init">
					</div>
						
					<div class="form-group">
						<label for="index__parameters_data">Parameter data</label> 
						<input type="text" class="form-control" id="index__parameters_data" placeholder="Data" ng-model="user.indexData.parameters.data">
					</div>	
				</div>
				
				<button class="btn btn-success" ng-click="user.doIndex()">index request</button>
				
			</form>

		</tab> 
		
		<tab heading="Register">
			<h2>Register request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Register Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.registerRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
			
			
			<form name="registerForm" novalidate>
			
				<div class="form-group">
					<label for="register__username">Username</label> <input type="text"
						class="form-control" id="register__username" placeholder="Username"
						ng-model="user.registerData.name">
				</div>
			
				<div class="form-group">
					<label for="register__email">Email</label> <input type="email"
						class="form-control" id="register__email" placeholder="Email"
						ng-model="user.registerData.mail">
				</div>
			
				<div class="form-group">
					<label for="register__password">Password</label> <input type="password"
						class="form-control" id="register__password" placeholder="Password"
						ng-model="user.registerData.pass">
				</div>
				
				<div class="form-group">
					<label for="register__password">Theme</label> <input type="text"
						class="form-control" id="register__theme" placeholder="Theme"
						ng-model="user.registerData.theme">
				</div>
				
				<div class="form-group">
					<label for="register__signature">Signature</label> <input type="text"
						class="form-control" id="register__signature" placeholder="Signature"
						ng-model="user.registerData.signature">
				</div>
				
				<div class="form-group">
					<label for="register__signature_format">Signature Format</label> <input type="text"
						class="form-control" id="register__signature_format" placeholder="Signature Format (plain_text)"
						ng-model="user.registerData.signature_format">
				</div>
				
				<div class="form-group">
					<label for="register__createed">Created</label> <input type="number"
						class="form-control" id="register__createed" placeholder="Created"
						ng-model="user.registerData.createed">
				</div>
				
				<div class="form-group">
					<label for="register__password">Access</label> <input type="text"
						class="form-control" id="register__access" placeholder="Access"
						ng-model="user.registerData.access">
				</div>
				
				<div class="form-group">
					<label for="register__login">Login</label> <input type="text"
						class="form-control" id="register__login" placeholder="login"
						ng-model="user.registerData.login">
				</div>
				
				<div class="form-group">
					<label for="register__status">Status</label> <input type="text"
						class="form-control" id="register__status" placeholder="Status"
						ng-model="user.registerData.status">
				</div>
			
				<button class="btn btn-success" ng-click="user.doRegister()">register request</button>
			</form>
			
							
		</tab> 
		
		<tab heading="Resend Welcome Email">
			<h2>Resend Welcome Email request</h2>
			<accordion close-others="oneAtATime">
				<accordion-group heading="Resend Welcome Email Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.resendWelcomeEmailRequests">
				   <ng-include src="'app/templates/request/request.html'"></ng-include>
				</accordion-group>
			</accordion>
			 	
			<form name="resendWelcomeEmailForm">
				<div class="form-group">
					<label for="resendWelcomeEmail__uid">Uid</label>
					<input type="text" class="form-control" id="resendWelcomeEmail__uid" placeholder="Uid" ng-model="user.resendWelcomeEmailData.uid">
				</div>
			
				<button class="btn btn-success" ng-click="user.doResendWelcomeEmail()">resend welcome email request</button>
			</form>
		</tab> 
		
		<tab heading="Cancel">
			<h2>Cancel request</h2>
			<accordion close-others="oneAtATime">
				<accordion-group heading="Cancel Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.cancelRequests">
				   <ng-include src="'app/templates/request/request.html'"></ng-include>
				</accordion-group>
			</accordion>
			 	
			<form name="cancelForm">
				<div class="form-group">
					<label for="cancel__uid">Uid</label>
					<input type="text" class="form-control" id="cancel__uid" placeholder="Uid" ng-model="user.cancelData.uid">
				</div>
			
				<button class="btn btn-success" ng-click="user.doCancel()">resend welcome email request</button>
			</form>
		</tab> 
		
		<tab heading="Password Reset">
			<h2>PasswordReset request</h2>
			<accordion close-others="oneAtATime">
				<accordion-group heading="PasswordReset Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.password_resetRequests">
				   <ng-include src="'app/templates/request/request.html'"></ng-include>
				</accordion-group>
			</accordion>
			 	
			<form name="password_resetForm">
				<div class="form-group">
					<label for="password_reset__uid">Uid</label>
					<input type="text" class="form-control" id="password_reset__uid" placeholder="Uid" ng-model="user.password_resetData.uid">
				</div>
			
				<button class="btn btn-success" ng-click="user.doPasswordReset()">resend welcome email request</button>
			</form>
		</tab> 
		
		<tab heading="Request New Password">
			<h2>Request new password request</h2>
			<accordion close-others="oneAtATime">
				<accordion-group heading="Request new password Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.requestNewPasswordRequests">
				   <ng-include src="'app/templates/request/request.html'"></ng-include>
				</accordion-group>
			</accordion>
			 	
			<form name="requestNewPasswordForm">
				<div class="form-group">
					<label for="requestNewPassword__uid">Uid</label>
					<input type="text" class="form-control" id="requestNewPassword__uid" placeholder="Uid" ng-model="user.requestNewPasswordData.uid">
				</div>
			
				<button class="btn btn-success" ng-click="user.doRequestNewPassword()">request new password request</button>
			</form>
		</tab> 
		
		
		<tab heading="Login">
			<h2>Login request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Login Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.loginRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
			
			<form name="loginForm">
				<div class="form-group">
					<label for="login__username">Username</label> <input type="text"
						class="form-control" id="login__username" placeholder="Username"
						ng-model="user.loginData.username">
				</div>
			
				<div class="form-group">
					<label for="login__password">Password</label> <input type="password"
						class="form-control" id="login__password" placeholder="Password"
						ng-model="user.loginData.password">
				</div>
			
				<button class="btn btn-success" ng-click="user.doLogin()">login
					request</button>
			</form>
		</tab> 
		
		<tab heading="Logout">
			<h2>Logout request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Logout Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.logoutRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
			
			<form name="logoutForm">
				<button class="btn btn-success" ng-click="user.doLogout()">logout
					request</button>
			</form>
		</tab> 
		
		<tab heading="Token">
			<h2>Token request</h2>
			<accordion close-others="oneAtATime"> <accordion-group
				heading="Token Request {{key}} at {{request.requestStart | date}}"
				ng-repeat="(key,request) in user.tokenRequests"> <ng-include
				src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
			
			<form name="tokenForm">
				<button class="btn btn-success" ng-click="user.doToken()">token
					request</button>
			</form>

		</tab> 	
		
	</tabset>
	
</div>