<div id="user" class="resource">
	<h1>User resource</h1>
	<p></p>
	<tabset justified="true">
		<tab heading="Retrieve">
			<ng-include src="'app/components/user/templates/retrieve.html'"></ng-include>
		</tab> 
		
		<tab heading="Create">
			<ng-include src="'app/components/user/templates/create.html'"></ng-include>
		</tab> 
		
		<tab heading="Update">
			<ng-include src="'app/components/user/templates/update.html'"></ng-include>
		</tab> 
		
		<tab heading="Delete">
			<ng-include src="'app/components/user/templates/delete.html'"></ng-include>
		</tab> 
		
		<tab heading="Index">
			<ng-include src="'app/components/user/templates/index.html'"></ng-include>
		</tab> 
		
		<tab heading="Register">
			<ng-include src="'app/components/user/templates/register.html'"></ng-include>
		</tab> 
		
		<tab heading="Resend Welcome Email">
			<ng-include src="'app/components/user/templates/resendWelcomeEmail.html'"></ng-include>
		</tab> 
		
		<tab heading="Cancel">
			<ng-include src="'app/components/user/templates/cancel.html'"></ng-include>
		</tab> 
		
		<tab heading="Password Reset">
			<ng-include src="'app/components/user/templates/passwordReset.html'"></ng-include>
		</tab> 
		
		<tab heading="Request New Password">
			<ng-include src="'app/components/user/templates/requestNewPassword.html'"></ng-include>
		</tab> 
		
		
		<tab heading="Login">
			<ng-include src="'app/components/user/templates/login.html'"></ng-include>
		</tab> 
		
		<tab heading="Logout">
			<ng-include src="'app/components/user/templates/logout.html'"></ng-include>
		</tab> 
		
		<tab heading="Token">
			<ng-include src="'app/components/user/templates/token.html'"></ng-include>
		</tab> 	
		
	</tabset>
	
</div>