<h2>Create request</h2>
<p>
	Create a new node.<br/>
	This function uses drupal_form_submit() and as such expects all input to match the submitting form in question.</br>
	see <code>services/resources/node_resource.inc => _node_resource_create()</code>
</p>
<accordion close-others="oneAtATime"> <accordion-group
		heading="Create Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
		ng-repeat="(key,request) in node.createRequests"> <ng-include
		src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>

<form name="createForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.title.$touched && createForm.title.$invalid || createForm.title.$invalid && createForm.$submitted}">
		<label for="create__title">Title</label>
		<input type="text" class="form-control" name="title" id="create__title" placeholder="Title" ng-model="node.createData.title" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!createForm.title.$touched && !createForm.$submitted || createForm.title.$valid" >The node title</p>

			<ng-messages class="error" ng-if="createForm.title.$invalid && createForm.title.$touched || createForm.$submitted" for="createForm.title.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.type.$touched && createForm.type.$invalid || createForm.type.$invalid && createForm.$submitted}">
		<label for="create__type">Type</label>
		<input type="text" class="form-control" name="type" id="create__type" placeholder="Title" ng-model="node.createData.type" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!createForm.type.$touched && !createForm.$submitted || createForm.type.$valid" >The node type. Default types are page and article</p>

			<ng-messages class="error" ng-if="createForm.type.$invalid && createForm.type.$touched || createForm.$submitted" for="createForm.type.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.body_value.$touched && createForm.body_value.$invalid || createForm.body_value.$invalid && createForm.$submitted}">
		<label for="create__body_value">Body Value</label>
		<textarea class="form-control" name="body_value" id="create__body_value" placeholder="Body Value" ng-model="node.createData.body_value" required>
		</textarea>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!createForm.body_value.$touched && !createForm.$submitted || createForm.body_value.$valid" >The body value.</p>

			<ng-messages class="error" ng-if="createForm.body_value.$invalid && createForm.body_value.$touched || createForm.$submitted" for="createForm.body_value.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.body_summary.$touched && createForm.body_summary.$invalid || createForm.body_summary.$invalid && createForm.$submitted}">
		<label for="create__body_summary">Body Summary</label>
		<textarea class="form-control" name="body_summary" id="create__body_summary" placeholder="Body Summary" ng-model="node.createData.body_summary" required>
		</textarea>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!createForm.body_summary.$touched && !createForm.$submitted || createForm.body_summary.$valid" >The body summary</p>

			<ng-messages class="error" ng-if="createForm.body_summary.$invalid && createForm.body_summary.$touched || createForm.$submitted" for="createForm.body_summary.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': createForm.field_custom_field.$touched && createForm.field_custom_field.$invalid || createForm.field_custom_field.$invalid && createForm.$submitted}">
		<label for="create__field_custom_field">Custom Field</label>
		<input type="field_custom_field" class="form-control" name="field_custom_field" id="create__field_custom_field" placeholder="custom_field" ng-model="node.createData.field_custom_field" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!createForm.field_custom_field.$touched && !createForm.$submitted || createForm.field_custom_field.$valid" >The nodes custom_field. ( Custom field. Needs to be <a target="_blank" href="https://www.drupal.org/node/1354202" >formated properly</a>. )</p>

			<ng-messages class="error" ng-if="createForm.field_custom_field.$invalid && createForm.field_custom_field.$touched || createForm.$submitted" for="createForm.field_custom_field.$error">
			</ng-messages>
		</div>
	</div>

	<button class="btn btn-success" ng-click="node.doCreate(createForm)">create request</button>
</form>
