<h2>Index request</h2>
<accordion close-others="oneAtATime"> <accordion-group
	heading="Index Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
	ng-repeat="(key,request) in node.indexRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>

<form name="indexForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': indexForm.page.$touched && indexForm.page.$invalid || indexForm.page.$invalid && indexForm.$submitted}" >
		<label for="index__page">Page</label>
		<input type="number" class="form-control" id="index__page" name="page" placeholder="Page" ng-model="node.indexData.page" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p  class="description" ng-if="!indexForm.page.$touched && !indexForm.$submitted || indexForm.page.$valid" >Number of items to display on one page</p>
			<ng-messages  class="error" ng-if="indexForm.page.$invalid && indexForm.page.$touched || indexForm.$submitted" for="indexForm.page.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': indexForm.pagesize.$touched && indexForm.pagesize.$invalid || indexForm.pagesize.$invalid && indexForm.$submitted}" >
		<label for="index__pagesize">Pagesize</label>
		<input type="number" class="form-control" id="index__pagesize" name="pagesize" placeholder="Pagesize" ng-model="node.indexData.pagesize" >
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!indexForm.pagesize.$touched && !indexForm.$submitted || indexForm.pagesize.$valid" >Number of items to display on one page. (Anonymous node are limited to 25)</p>
			<ng-messages class="error" ng-if="indexForm.pagesize.$invalid && indexForm.pagesize.$touched || indexForm.$submitted" for="indexForm.pagesize.$error">
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group">
		<label ng-click="node.indexFieldsColapsed = !node.indexFieldsColapsed">Fields <span class="caret" ng-class="{true:'down',false:'up'}[node.indexFieldsColapsed]"></span></label>
		<div class="help-block">
			<p class="description">Define the fields to fetched.</p>
		</div>
	</div>
	<div class="well collapse" ng-class="!node.indexFieldsColapsed && 'in'">
		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.nid">
		    fields.nid
		  </label>
		</div>
		
		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.vid">
		    fields.vid
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.title">
		    fields.title
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.status">
		    fields.status
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.comment">
		    fields.comment
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.promote">
		    fields.promote
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.sticky">
		    fields.sticky
		  </label>
		</div>
		
		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.created">
		    fields.created
		  </label>
		</div>
		
		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.changed">
		    fields.changed
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.type">
		    fields.type
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.language">
		    fields.language
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.tnid">
		    fields.tnid
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="node.indexData.fields.translate">
		    fields.translate
		  </label>
		</div>

	</div>


	<div class="form-group">
		<label ng-click="node.indexParametersColapsed = !node.indexParametersColapsed">Parameters <span class="caret" ng-class="{true:'down',false:'up'}[node.indexParametersColapsed]"></span></label>
		<div class="help-block">
			<p class="description">Filter by field value.</p>
		</div>
	</div>
	<div class="well collapse" ng-class="!node.indexParametersColapsed && 'in'">
		<div class="form-group">
			<label for="index__parameters_nid">Parameter nid</label>
			<input type="number" class="form-control" id="index__parameters_nid" placeholder="Nid" ng-model="node.indexData.parameters.nid">
		</div>
		
		<div class="form-group">
			<label for="index__parameters_vid">Parameter vid</label>
			<input type="number" class="form-control" id="index__parameters_vid" placeholder="Vid" ng-model="node.indexData.parameters.vid">
		</div>

		<div class="form-group">
			<label for="index__parameters_title">Parameter title</label>
			<input type="text" class="form-control" id="index__parameters_title" placeholder="Title" ng-model="node.indexData.parameters.title">
		</div>

		<div class="form-group">
			<label for="index__parameters_status">Parameter status</label>
			<input type="text" class="form-control" id="index__parameters_status" placeholder="Status" ng-model="node.indexData.parameters.status">
		</div>

		<div class="form-group">
			<label for="index__parameters_comment">Parameter comment</label>
			<input type="text" class="form-control" id="index__parameters_comment" placeholder="Comment" ng-model="node.indexData.parameters.comment">
		</div>

		<div class="form-group">
			<label for="index__parameters_promote">Parameter promote</label>
			<input type="text" class="form-control" id="index__parameters_promote" placeholder="Promote" ng-model="node.indexData.parameters.promote">
		</div>
		
		<div class="form-group">
			<label for="index__parameters_sticky">Parameter sticky</label>
			<input type="text" class="form-control" id="index__parameters_sticky" placeholder="Sticky" ng-model="node.indexData.parameters.sticky">
		</div>

		<div class="form-group">
			<label for="index__parameters_created">Parameter created</label>
			<input type="text" class="form-control" id="index__parameters_created" placeholder="Created" ng-model="node.indexData.parameters.created">
		</div>
		
		<div class="form-group">
			<label for="index__parameters_changed">Parameter changed</label>
			<input type="text" class="form-control" id="index__parameters_changed" placeholder="Changed" ng-model="node.indexData.parameters.changed">
		</div>

		<div class="form-group">
			<label for="index__parameters_type">Parameter type</label>
			<input type="text" class="form-control" id="index__parameters_type" placeholder="Type" ng-model="node.indexData.parameters.type">
		</div>
		
		<div class="form-group">
			<label for="index__parameters_language">Parameter language</label>
			<input type="text" class="form-control" id="index__parameters_language" placeholder="Language" ng-model="node.indexData.parameters.language">
		</div>
		
		<div class="form-group">
			<label for="index__parameters_tnid">Parameter tnid</label>
			<input type="text" class="form-control" id="index__parameters_tnid" placeholder="Tnid" ng-model="node.indexData.parameters.tnid">
		</div>

		<div class="form-group">
			<label for="index__parameters_translate">Parameter translate</label>
			<input type="text" class="form-control" id="index__parameters_translate" placeholder="Translate" ng-model="node.indexData.parameters.translate">
		</div>
		
	</div>
	
	<button class="btn btn-success" ng-click="node.doIndex(indexForm)">index request</button>
	
</form>
