<div id="auth" class="resource">
	<h1>Auth Service</h1>
	<p>
	https://docs.google.com/drawings/d/1q3GqIDhmSA8UI8FIrkWaBSV4cXc8otFyBqdlP6EqS5U/pub?w=1440&h=1080<br/>
	https://www.drupal.org/node/1699354
	</p>
	<tabset justified="true">
	
		<tab heading="Login">
		  	
			<h2>Login request</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="Login Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in auth.loginRequests">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>

		  	<form name="loginForm">
		  		<div class="form-group">
	 				<label for="login__username">Username</label>
	    			<input type="text" class="form-control" id="login__username" placeholder="Username" ng-model="auth.loginData.username">
	    		</div>
	    		<div class="form-group">
	 				<label for="login__password">Password</label>
	    			<input type="password" class="form-control" id="login__password" placeholder="Password" ng-model="auth.loginData.password">
	    		</div>
		  		<button class="btn btn-success" ng-click="auth.doLogin(loginForm)">login request</button>
		  	</form>
			
		</tab> 
		
		<tab heading="Logout">
			
			<h2>Logout request</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="Logout Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in auth.logoutRequests">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>
		  	
		  	<form name="logoutForm">
		  		<button class="btn btn-success" ng-click="auth.doLogout(logoutForm)">logout request</button>
		  	</form>
			
		</tab> 
    			
		<tab heading="refreshConnection">
			
			<h2>Refresh connection function</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="RefreshConnection Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in auth.refreshConnectionRequests">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>
		  	
		  	<form name="refreshConnectionForm">
		  		<button class="btn btn-success" ng-click="auth.doRefreshConnection(refreshConnectionForm)">refreshConnection</button>
		  	</form>
			
		</tab> 
		
		<tab heading="getLastConnectTime">
			
			<h2>Get last connect time</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="getLastConnectTime {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in auth.getLastConnectionTimeData">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>
		  	
		  	<form name="getLastConnectTimeForm">
		  		<button class="btn btn-success" ng-click="auth.doGetLastConnectTime(getLastConnectTimeForm)">getLastConnectTime</button>
		  	</form>
			
		</tab> 
		
		<tab heading="getConnectionState">
			
			<h2>get Connection State</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="getConnectionState {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in auth.getConnectionStateData">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>
		  	
		  	<form name="getLastConnectTimeForm">
		  		<button class="btn btn-success" ng-click="auth.doGetConnectionState(getLastConnectTimeForm)">getConnectionState</button>
		  	</form>
			
		</tab> 
		
		<tab heading="getAuthenticationHeaders">
			
			<h2>get Authentication Headers</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="getAuthenticationHeaders {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in auth.getAuthenticationHeadersData">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>
		  	
		  	<form name="getAuthenticationHeadersForm">
		  		<button class="btn btn-success" ng-click="auth.doGetAuthenticationHeaders(getAuthenticationHeadersForm)">doGetAuthenticationHeaders</button>
		  	</form>
			
		</tab> 
 
	</tabset>
	
</div>