<div id="user" class="resource">
	<h1>User resource</h1>
	<p>Link general user functionalities to services module.<br/>
	See  <code>services/resources/user_resource.inc</code></p>
	<p>Following requests are provided:</p>
	<br/>
	<ul id="user-tabs" class="nav nav-tabs nav-justified" role="tablist">
		<li ui-sref-active-eq="active">
			<a id="retrieve-tab" role="tab" ui-sref="app.services_3x.user.retrieve" >Retrieve</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="create-tab" role="tab"  ui-sref="app.services_3x.user.create">Create</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="update-tab" role="tab"  ui-sref="app.services_3x.user.update">Update</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="delete-tab" role="tab"  ui-sref="app.services_3x.user.delete">Delete</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="index-tab" role="tab"  ui-sref="app.services_3x.user.index">Index</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="del-variable-tab" role="tab"  ui-sref="app.services_3x.user.register">Register</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="resend-welcome-email-tab" role="tab"  ui-sref="app.services_3x.user.resend_welcome_email">Resend Welcome Email</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="cancel-tab" role="tab"  ui-sref="app.services_3x.user.cancel">Cancel</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="password-reset-tab" role="tab"  ui-sref="app.services_3x.user.password_reset">Password Reset</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="request-new-password-tab" role="tab"  ui-sref="app.services_3x.user.request_new_password">requestNewPassword</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="login-tab" role="tab"  ui-sref="app.services_3x.user.login">Login</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="logout-tab" role="tab"  ui-sref="app.services_3x.user.logout">Logout</a>
		</li>
		<li ui-sref-active-eq="active">
			<a id="token-tab" role="tab"  ui-sref="app.services_3x.user.token">Token</a>
		</li>
	</ul>

	<div class="tabs-content">
		<ui-view name="retrieve" ng-show="app.$state.includes('app.services_3x.user.retrieve')"></ui-view>
		<ui-view name="create" ng-show="app.$state.includes('app.services_3x.user.create')"></ui-view>
		<ui-view name="update" ng-show="app.$state.includes('app.services_3x.user.update')"></ui-view>
		<ui-view name="delete" ng-show="app.$state.includes('app.services_3x.user.delete')"></ui-view>
		<ui-view name="index" ng-show="app.$state.includes('app.services_3x.user.index')"></ui-view>
		<ui-view name="register" ng-show="app.$state.includes('app.services_3x.user.register')"></ui-view>
		<ui-view name="resendWelcomeEmail" ng-show="app.$state.includes('app.services_3x.user.resend_welcome_email')"></ui-view>
		<ui-view name="cancel" ng-show="app.$state.includes('app.services_3x.user.cancel')"></ui-view>
		<ui-view name="requestNewPassword" ng-show="app.$state.includes('app.services_3x.user.request_new_password')"></ui-view>
		<ui-view name="passwordReset" ng-show="app.$state.includes('app.services_3x.user.password_reset')"></ui-view>
		<ui-view name="login" ng-show="app.$state.includes('app.services_3x.user.login')"></ui-view>
		<ui-view name="logout" ng-show="app.$state.includes('app.services_3x.user.logout')"></ui-view>
		<ui-view name="token" ng-show="app.$state.includes('app.services_3x.user.token')"></ui-view>
	</div>
	
</div>