<!-- message for a field that is required -->
<script type="text/ng-template" id="error-required">
  	<div ng-message="required">This field is required</div>
</script>

<!-- message for a field that is required -->
<script type="text/ng-template" id="error-email">
  	<div ng-message="email">This field is no valide email address</div>
</script>

<!-- message for a field that is number -->
<script type="text/ng-template" id="error-number">
  	<div ng-message="number">This field should be a number</div>
</script>

