<div id="system" class="resource">
	<h1>System resource</h1>
	<p></p>
	<tabset justified="true">
		
		<tab heading="Connect">
			<h2>Connect request</h2>
			<accordion close-others="oneAtATime">
 				<accordion-group heading="Connect Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in home.connectRequests">
				    <ng-include src="'app/templates/request/request.html'"></ng-include>
		    	</accordion-group>
		  	</accordion>
		  	
		  	<form >
		  		<button class="btn btn-success" ng-click="home.doConncet()">connect request</button>
		  	</form>
		</tab> 
		
	</tabset>
	
</div>