<div id="node" class="resource">
	<h1>Node resource</h1>
	<p></p>
	<hr/>
	<tabset justified="true">
		<tab heading="Retrieve">
			<ng-include src="'app/components/node/templates/retrieve.html'"></ng-include>
		</tab> 
		
		<tab heading="Create">
			<ng-include src="'app/components/node/templates/create.html'"></ng-include>
		</tab> 
		
		<tab heading="Update">
			<ng-include src="'app/components/node/templates/update.html'"></ng-include>
		</tab> 
		
		<tab heading="Delete">
			<ng-include src="'app/components/node/templates/delete.html'"></ng-include>
		</tab> 
		
		<tab heading="Index">
			<ng-include src="'app/components/node/templates/index.html'"></ng-include>
		</tab> 
		
		
	</tabset>
	
</div>