<h2>Del Variable request</h2>
<p>
Unsets a persistent variable.<br/>
Case-sensitivity of the variable_* functions depends on the database collation used. To avoid problems, always use lower case for persistent variable names.<br/>
See <a target="_blank" href="https://api.drupal.org/api/drupal/includes!bootstrap.inc/function/variable_del/7" title="variable_del">variable_del</a> and <code>services/resources/system_resource.inc</code>
</p>
<hr/>
<accordion close-others="oneAtATime">
	<accordion-group heading="Del Variable Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in system.delVariableRequests">
	    <ng-include src="'app/templates/request/request.html'"></ng-include>
   	</accordion-group>
</accordion>
 	
<form name="delVariableForm" novalidate>
	
	<div class="form-group" ng-class="{ 'has-error has-feedback': getVariableForm.name.$touched && delVariableForm.name.$invalid || delVariableForm.name.$invalid && delVariableForm.$submitted}">
		<label for="del_variable__name">Name</label>
		<input type="text" name="name" class="form-control" id="del_variable__name" placeholder="Variable name" ng-model="system.delVariableData.name" required>
		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
		 
		<div class="help-block">
			<p ng-if="!delVariableForm.name.$touched && !delVariableForm.$submitted || delVariableForm.name.$valid" >The name of the variable to return</p>
			
			<ng-messages ng-if="delVariableForm.name.$invalid && delVariableForm.name.$touched || delVariableForm.$submitted" for="delVariableForm.name.$error">
			  <ng-messages-include src="error-required"></ng-messages-include>
			</ng-messages>
		</div>
	</div>	

    <button class="btn btn-success" ng-click="system.doDelVariable(delVariableForm)">del_variable request</button>
</form>