// thx to ionic => https://github.com/driftyco/ionic/blob/master/scss/_variables.scss

// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// Spinners
// -------------------------------

$spinner-width:                   28px !default;
$spinner-height:                  28px !default;

$spinner-light-stroke:            $light !default;
$spinner-light-fill:              $light !default;

$spinner-stable-stroke:           $stable !default;
$spinner-stable-fill:             $stable !default;

$spinner-positive-stroke:         $positive !default;
$spinner-positive-fill:           $positive !default;

$spinner-calm-stroke:             $calm !default;
$spinner-calm-fill:               $calm !default;

$spinner-balanced-stroke:         $balanced !default;
$spinner-balanced-fill:           $balanced !default;

$spinner-assertive-stroke:        $assertive !default;
$spinner-assertive-fill:          $assertive !default;

$spinner-energized-stroke:        $energized !default;
$spinner-energized-fill:          $energized !default;

$spinner-royal-stroke:            $royal !default;
$spinner-royal-fill:              $royal !default;

$spinner-dark-stroke:             $dark !default;
$spinner-dark-fill:               $dark !default;

$spinner-default-stroke:          $dark !default;
$spinner-default-fill:            $dark !default;


// thx to ionic => https://github.com/driftyco/ionic/blob/master/scss/_spinner.scss 

/**
 * Spinners
 * --------------------------------------------------
 */

.spinner {
  svg {
    width: $spinner-width;
    height: $spinner-height;
  }

  stroke: $spinner-default-stroke;
  fill: $spinner-default-fill;

  &.spinner-light {
    stroke: $spinner-light-stroke;
    fill: $spinner-light-fill;
  }
  &.spinner-stable {
    stroke: $spinner-stable-stroke;
    fill: $spinner-stable-fill;
  }
  &.spinner-positive {
    stroke: $spinner-positive-stroke;
    fill: $spinner-positive-fill;
  }
  &.spinner-calm {
    stroke: $spinner-calm-stroke;
    fill: $spinner-calm-fill;
  }
  &.spinner-balanced {
    stroke: $spinner-balanced-stroke;
    fill: $spinner-balanced-fill;
  }
  &.spinner-assertive {
    stroke: $spinner-assertive-stroke;
    fill: $spinner-assertive-fill;
  }
  &.spinner-energized {
    stroke: $spinner-energized-stroke;
    fill: $spinner-energized-fill;
  }
  &.spinner-royal {
    stroke: $spinner-royal-stroke;
    fill: $spinner-royal-fill;
  }
  &.spinner-dark {
    stroke: $spinner-dark-stroke;
    fill: $spinner-dark-fill;
  }
}

.spinner-android {
  stroke: #4b8bf4;
}

.spinner-ios,
.spinner-ios-small {
  stroke: #69717d;
}

.spinner-spiral {
  .stop1 {
    stop-color: $spinner-light-fill;
    stop-opacity: 0;
  }

  &.spinner-light {
    .stop1 {
      stop-color: $spinner-default-fill;
    }
    .stop2 {
      stop-color: $spinner-light-fill;
    }
  }
  &.spinner-stable .stop2 {
    stop-color: $spinner-stable-fill;
  }
  &.spinner-positive .stop2 {
    stop-color: $spinner-positive-fill;
  }
  &.spinner-calm .stop2 {
    stop-color: $spinner-calm-fill;
  }
  &.spinner-balanced .stop2 {
    stop-color: $spinner-balanced-fill;
  }
  &.spinner-assertive .stop2 {
    stop-color: $spinner-assertive-fill;
  }
  &.spinner-energized .stop2 {
    stop-color: $spinner-energized-fill;
  }
  &.spinner-royal .stop2 {
    stop-color: $spinner-royal-fill;
  }
  &.spinner-dark .stop2 {
    stop-color: $spinner-dark-fill;
  }
}