<h2>Cancel request</h2>
<accordion close-others="oneAtATime">
	<accordion-group heading="Cancel Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.cancelRequests">
	   <ng-include src="'app/templates/request/request.html'"></ng-include>
	</accordion-group>
</accordion>
 	
<form name="cancelForm">
	<div class="form-group">
		<label for="cancel__uid">Uid</label>
		<input type="text" class="form-control" id="cancel__uid" placeholder="Uid" ng-model="user.cancelData.uid">
	</div>

	<button class="btn btn-success" ng-click="user.doCancel()">resend welcome email request</button>
</form>