<h2>Index request</h2>
<accordion close-others="oneAtATime"> <accordion-group
	heading="Index Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}"
	ng-repeat="(key,request) in user.indexRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>

<form name="indexForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': indexForm.page.$touched && indexForm.page.$invalid || indexForm.page.$invalid && indexForm.$submitted}" >
		<label for="index__page">Page</label>
		<input type="number" class="form-control" id="index__page" name="page" placeholder="Page" ng-model="user.indexData.page" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p  class="description" ng-if="!indexForm.page.$touched && !indexForm.$submitted || indexForm.page.$valid" >Number of items to display on one page</p>
			<ng-messages  class="error" ng-if="indexForm.page.$invalid && indexForm.page.$touched || createForm.$submitted" for="indexForm.page.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error has-feedback': indexForm.pagesize.$touched && indexForm.pagesize.$invalid || indexForm.pagesize.$invalid && indexForm.$submitted}" >
		<label for="index__pagesize">Pagesize</label>
		<input type="number" class="form-control" id="index__pagesize" name="pagesize" placeholder="Pagesize" ng-model="user.indexData.pagesize" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!indexForm.pagesize.$touched && !indexForm.$submitted || indexForm.pagesize.$valid" >Number of items to display on one page. (Anonymous user are limited to 25)</p>
			<ng-messages class="error" ng-if="indexForm.pagesize.$invalid && indexForm.pagesize.$touched || createForm.$submitted" for="indexForm.pagesize.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<div class="form-group">
		<label ng-click="user.indexFieldsColapsed = !user.indexFieldsColapsed">Fields <span class="caret" ng-class="{true:'down',false:'up'}[user.indexFieldsColapsed]"></span></label>
		<div class="help-block">
			<p class="description">Define the fields to fetched.</p>
		</div>
	</div>
	<div class="well collapse" ng-class="!user.indexFieldsColapsed && 'in'">
		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.uid">
		    fields.uid
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.name">
		    fields.name
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.mail">
		    fields.mail
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.theme">
		    fields.theme
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.signature">
		    fields.signature
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.signature_format">
		    fields.signature_format
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.created">
		    fields.created
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.access">
		    fields.access
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.login">
		    fields.login
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.status">
		    fields.status
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.timezone">
		    fields.timezone
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.language">
		    fields.language
		  </label>
		</div>


		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.picture">
		    fields.picture
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.init">
		    fields.init
		  </label>
		</div>

		<div class="checkbox">
	  		<label>
		    <input type="checkbox" ng-model="user.indexData.fields.data">
		    fields.data
		  </label>
		</div>
	</div>


	<div class="form-group">
		<label ng-click="user.indexParametersColapsed = !user.indexParametersColapsed">Parameters <span class="caret" ng-class="{true:'down',false:'up'}[user.indexParametersColapsed]"></span></label>
		<div class="help-block">
			<p class="description">Filter by field value.</p>
		</div>
	</div>
	<div class="well collapse" ng-class="!user.indexParametersColapsed && 'in'">
		<div class="form-group">
			<label for="index__parameters_uid">Parameter uid</label>
			<input type="number" class="form-control" id="index__parameters_uid" placeholder="Uid" ng-model="user.indexData.parameters.uid">
		</div>

		<div class="form-group">
			<label for="index__parameters_name">Parameter name</label>
			<input type="text" class="form-control" id="index__parameters_name" placeholder="Username" ng-model="user.indexData.parameters.name">
		</div>

		<div class="form-group">
			<label for="index__parameters_name">Parameter mail</label>
			<input type="text" class="form-control" id="index__parameters_mail" placeholder="EMail" ng-model="user.indexData.parameters.mail">
		</div>

		<div class="form-group">
			<label for="index__parameters_theme">Parameter theme</label>
			<input type="text" class="form-control" id="index__parameters_theme" placeholder="Theme" ng-model="user.indexData.parameters.theme">
		</div>

		<div class="form-group">
			<label for="index__parameters_signature">Parameter signature</label>
			<input type="text" class="form-control" id="index__parameters_signature" placeholder="Signature" ng-model="user.indexData.parameters.signature">
		</div>

		<div class="form-group">
			<label for="index__parameters_signature_format">Parameter signature_format</label>
			<input type="text" class="form-control" id="index__parameters_signature_format" placeholder="Signature Format" ng-model="user.indexData.parameters.signature_format">
		</div>

		<div class="form-group">
			<label for="index__parameters_created">Parameter created</label>
			<input type="text" class="form-control" id="index__parameters_created" placeholder="Created" ng-model="user.indexData.parameters.created">
		</div>

		<div class="form-group">
			<label for="index__parameters_access">Parameter access</label>
			<input type="text" class="form-control" id="index__parameters_access" placeholder="Access" ng-model="user.indexData.parameters.access">
		</div>

		<div class="form-group">
			<label for="index__parameters_login">Parameter login</label>
			<input type="text" class="form-control" id="index__parameters_login" placeholder="Login" ng-model="user.indexData.parameters.login">
		</div>

		<div class="form-group">
			<label for="index__parameters_status">Parameter status</label>
			<input type="text" class="form-control" id="index__parameters_status" placeholder="Status" ng-model="user.indexData.parameters.status">
		</div>

		<div class="form-group">
			<label for="index__parameters_timezone">Parameter timezone</label>
			<input type="text" class="form-control" id="index__parameters_timezone" placeholder="Timezone" ng-model="user.indexData.parameters.timezone">
		</div>

		<div class="form-group">
			<label for="index__parameters_language">Parameter language</label>
			<input type="text" class="form-control" id="index__parameters_language" placeholder="Language" ng-model="user.indexData.parameters.language">
		</div>

		<div class="form-group">
			<label for="index__parameters_picture">Parameter picture</label>
			<input type="text" class="form-control" id="index__parameters_picture" placeholder="Picture" ng-model="user.indexData.parameters.picture">
		</div>

		<div class="form-group">
			<label for="index__parameters_init">Parameter init</label>
			<input type="text" class="form-control" id="index__parameters_init" placeholder="Init" ng-model="user.indexData.parameters.init">
		</div>

		<div class="form-group">
			<label for="index__parameters_data">Parameter data</label>
			<input type="text" class="form-control" id="index__parameters_data" placeholder="Data" ng-model="user.indexData.parameters.data">
		</div>	
	</div>
	
	<button class="btn btn-success" ng-click="user.doIndex(indexForm)">index request</button>
	
</form>
