<h2>Login request</h2>
<accordion close-others="oneAtATime"> <accordion-group
	heading="Login Request {{key}} at {{request.requestStart | date}}"
	ng-repeat="(key,request) in user.loginRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>

<form name="loginForm">
	<div class="form-group">
		<label for="login__username">Username</label> <input type="text"
			class="form-control" id="login__username" placeholder="Username"
			ng-model="user.loginData.username">
	</div>

	<div class="form-group">
		<label for="login__password">Password</label> <input type="password"
			class="form-control" id="login__password" placeholder="Password"
			ng-model="user.loginData.password">
	</div>

	<button class="btn btn-success" ng-click="user.doLogin()">login
		request</button>
</form>