<h2>PasswordReset request</h2>
<accordion close-others="oneAtATime">
	<accordion-group heading="PasswordReset Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}" ng-repeat="(key,request) in user.passwordResetRequests">
	   <ng-include src="'app/templates/request/request.html'"></ng-include>
	</accordion-group>
</accordion>
 	
<form name="passwordResetForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': passwordResetForm.uid.$touched && passwordResetForm.uid.$invalid || passwordResetForm.uid.$invalid && passwordResetForm.$submitted}" >
		<label for="passwordReset__uid">Uid</label>
		<input type="number" class="form-control" id="passwordReset__uid" name="uid" placeholder="Uid" ng-model="user.passwordResetData.uid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!passwordResetForm.uid.$touched && !passwordResetForm.$submitted || passwordResetForm.uid.$valid" >UID of the user to reset password</p>
			<ng-messages class="error" ng-if="passwordResetForm.uid.$invalid && passwordResetForm.uid.$touched || passwordResetForm.$submitted" for="passwordResetForm.uid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<button class="btn btn-success" ng-click="user.doPasswordReset(passwordResetForm)">resend welcome email request</button>
</form>