<h2>Request new password request</h2>
<accordion close-others="oneAtATime">
	<accordion-group heading="Request new password Request {{key}} at {{request.requestStart | date:'HH:mm:ss'}}" ng-repeat="(key,request) in user.requestNewPasswordRequests">
	   <ng-include src="'app/templates/request/request.html'"></ng-include>
	</accordion-group>
</accordion>
 	
<form name="requestNewPasswordForm" novalidate>

	<div class="form-group" ng-class="{ 'has-error has-feedback': requestNewPasswordForm.uid.$touched && requestNewPasswordForm.uid.$invalid || requestNewPasswordForm.uid.$invalid && requestNewPasswordForm.$submitted}" >
		<label for="passwordReset__uid">Uid</label>
		<input type="number" class="form-control" id="passwordReset__uid" name="uid" placeholder="Uid" ng-model="user.passwordResetData.uid" required>
		<form-control-feedback></form-control-feedback>
		<div class="help-block">
			<p class="description" ng-if="!requestNewPasswordForm.uid.$touched && !requestNewPasswordForm.$submitted || requestNewPasswordForm.uid.$valid" >UID of the user to reset password</p>
			<ng-messages class="error" ng-if="requestNewPasswordForm.uid.$invalid && requestNewPasswordForm.uid.$touched || requestNewPasswordForm.$submitted" for="requestNewPasswordForm.uid.$error">
				<ng-messages-include src="error-required"></ng-messages-include>
				<ng-messages-include src="error-number"></ng-messages-include>
			</ng-messages>
		</div>
	</div>

	<button class="btn btn-success" ng-click="user.doRequestNewPassword(requestNewPasswordForm)">request new password request</button>
</form>