<h2>Request new password request</h2>
<accordion close-others="oneAtATime">
	<accordion-group heading="Request new password Request {{key}} at {{request.requestStart | date}}" ng-repeat="(key,request) in user.requestNewPasswordRequests">
	   <ng-include src="'app/templates/request/request.html'"></ng-include>
	</accordion-group>
</accordion>
 	
<form name="requestNewPasswordForm">
	<div class="form-group">
		<label for="requestNewPassword__uid">Uid</label>
		<input type="text" class="form-control" id="requestNewPassword__uid" placeholder="Uid" ng-model="user.requestNewPasswordData.uid">
	</div>

	<button class="btn btn-success" ng-click="user.doRequestNewPassword()">request new password request</button>
</form>