<h2>Update request</h2>
<accordion close-others="oneAtATime"> <accordion-group
	heading="Update Request {{key}} at {{request.requestStart | date}}"
	ng-repeat="(key,request) in user.updateRequests"> <ng-include
	src="'app/templates/request/request.html'"></ng-include> </accordion-group> </accordion>
	
<form name="updateForm">

	<div class="form-group">
		<label for="update__username">Uid</label> <input type="text"
			class="form-control" id="update__uid" placeholder="Uid"
			ng-model="user.updateData.uid">
	</div>

	<div class="form-group">
		<label for="update__name">Parameter name</label> 
		<input type="text" class="form-control" id="update__name" placeholder="Username" ng-model="user.updateData.name">
	</div>
	
	<div class="form-group">
		<label for="update__name">Parameter mail</label> 
		<input type="text" class="form-control" id="update__mail" placeholder="EMail" ng-model="user.updateData.mail">
	</div>
		
	<button class="btn btn-success" ng-click="user.doUpdate()">update request</button>
</form>
