<div id="Services-Views" class="resource">
	<h1 ng-click="services_views.descriptionColapsed = !services_views.descriptionColapsed">Services Views <span class="caret" ng-class="{true:'down',false:'up'}[services_views.descriptionColapsed]"></span></h1>
	<div class="collapse" ng-class="!services_views.descriptionColapsed && 'in'">
		<p>
			The <a href="https://www.drupal.org/project/services_views" target="_blank">services views module</a> consists of following resources:
		</p>
		<ul>
			<li>Views</li>
		</ul>
	</div>
	<hr/>
	
	<ul id="services-views-tabs" class="nav nav-tabs nav-justified">
		<li ui-sref-active="active">
			<a>Views</a>
		</li>
	</ul>
	
	<div class="tabs-content">
		<ui-view name="views"></ui-view>
	</div>
	
</div>
